/* global */
html {
	position: relative;
	background-color: #f9f9f9 !important;
}
body{
	position: relative;
	background-color: #f9f9f9 !important;
	z-index: 0;
}
body:before,body:after{
	content: '';
	position: absolute;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: -1;
	width: 100%;
	height: 100%;
	opacity: .6;
}
body:before{
	left: 0;
	bottom: -70px;
	background-image: url('../img/bg-deco-leftbottom.png');
    background-position: left bottom;
}
body:after{
	right: 0;
	top: -90px;
	background-image: url('../img/bg-deco-righttop.png');
    background-position: right top;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
.jcc {
	justify-content: center;
}
.jsb {
	justify-content: space-between;
}
.ais {
	align-items: start;
}
.aic {
	align-items: center;
}

/* component */
.tab-wrapper{
	margin: 8% 0;
}
@media screen and (max-width: 992px){
    .tab-wrapper{
		margin: 15% 0;
	}
}
.el-card{
	max-width: 65%;
    margin: 0 auto;
	overflow: visible !important;
	box-shadow: 8px 11px 20px 5px rgb(0 0 0 / 10%) !important;
	-webkit-box-shadow: 8px 11px 20px 5px rgb(0 0 0 / 10%)!important;
	-moz-box-shadow: 8px 11px 20px 5px rgb(0 0 0 / 10%)!important;
	-ms-box-shadow: 8px 11px 20px 5px rgb(0 0 0 / 10%)!important;
	-o-box-shadow: 8px 11px 20px 5px rgb(0 0 0 / 10%)!important;
}
@media screen and (max-width: 992px){
    .el-card{
		max-width: 90%;
	}
}
.el-card__body{
	position: relative;
	background-color: #ffcf00!important;
	z-index: 0;
}
.el-card__body:before,.el-card__body:after{
	content: '';
	position: absolute;
	background-size: contain;
	background-repeat: no-repeat;
	z-index: -1;
}
.el-card__body:before{
	left: 0;
	top: 0;
	background-image: url('../img/img-deco-leftop.svg');
	background-position: top left;
	width: 100%;
	height: 200px;
}
.el-card__body:after{
	right: 0;
	bottom: 0;
	background-image: url('../img/img-bg.png');
	background-position: bottom right;
	width: 100%;
	height: 300px;
}
@media screen and (max-width: 1200px){
	.el-card__body:before{
		height: 220px;
	}
	.el-card__body:after{
		width: 35%;
		height: 170px;
	}
}
@media screen and (max-width: 992px){
	.el-card__body:before{
		height: 130px;
	}
}
.title{
	position: relative;
	color: rgb(15, 15, 15);
	text-align: center;
    margin: 2rem 0 1.5rem 0;
    letter-spacing: 0.15rem;
    font-weight: bold;
	z-index: 0;
}
.title:before {
	content: '';
	position: absolute;
	background-image: url('../img/scan-logo.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
    width: 100%;
    height: 100px;
    left: 0;
    right: 0;
    bottom: 65%;
    z-index: -1;
}
.el-form-item__label{
	color: #000000 !important;
}

/* button */
.btn {
	position: relative;
	padding: 0.8rem 2rem !important;
	margin-top: 2rem !important; 
	background-color: #000000 !important;
	border-color: #409eff00 !important;
	z-index: 0;
}
.btn:hover {
	color: #000000 !important;
	border-color: rgb(0, 0, 0) !important;
	background-color: #ffcf00!important;
}
.btn:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #f7a901;
	z-index: -1;
	transition: .5s;
}
.btn:hover::after{
	height: 100%;
}

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}
@keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

